.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.oculto {
    display: none;
}

.modal-content {
    background-color: var(--cor-fundo);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.modal-content h3 {
    margin-top: 0;
    color: var(--cor-texto);
}